.header {
  text-align: center;
  color: $off-white;
  background: $dark-grey;
  padding: $l-size 0;
}

.header__actions {
  margin-top: $m-size;
}

.header__title {
  font-weight: 300;
  margin: 0;
}

.header__sub-title {
  font-weight: 300;
  margin: 0;
}
